KYUUBIKI_STORAGE_BACKEND=sqlite
SQLITE_DATABASE_PATH=/Users/Shared/chroot/dev/kyuubiki/tmp/data/kyuubiki_dev.sqlite3
# DATABASE_URL=ecto://seis@127.0.0.1:5432/kyuubiki_dev
KYUUBIKI_AGENT_ENDPOINTS=127.0.0.1:5001,127.0.0.1:5002
