[Unit]
Description=Kyuubiki Orchestrator
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=simple
User={{KYUUBIKI_SERVICE_USER}}
Environment=KYUUBIKI_HOME={{KYUUBIKI_INSTALL_ROOT}}
EnvironmentFile=-{{KYUUBIKI_INSTALL_ROOT}}/deploy/kyuubiki-orchestrator.env
WorkingDirectory={{KYUUBIKI_INSTALL_ROOT}}/apps/web
ExecStart=/usr/bin/env mix run --no-halt
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
